.section-about {
    position: relative;
    padding-bottom: 10rem;
    height: 50rem;

    @include respond(tab-port) {
        height: 80rem;
    }

    @include respond(phone) {
        height: 100rem;
    }
}

.section-product {
    position: relative;
    //background-image: linear-gradient(0deg, rgba($color-grey-dark, 0.7) 100%, rgba($color-grey-dark, 0.7) 100%) , url(/img/brick.jpg);
    background-image: url(/img/brick.jpg);
    background-color: rgba($color-black, 0.8);
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    padding: 10rem 2rem;

    &::before {
        @include sectionBorderTop;
    }

    &::after {
        @include sectionBorderBottom;
    }

    .product-cards {
        z-index: 100;
    }
}

.section-contact {
    height: max-content;
    background-color: $color-white;
    padding-bottom: 10rem;

    .row {
        [class^="col-"] {
            &:not(:last-child) {
    
                @include respond(tab-port) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
